### Mac OS ###
.DS_Store

### IntelliJ ###
.gradle
.idea

### Web ###
build/

# Compiled class file
*.class

# Log files
*.log

# Build output
out/
target/

# 보안
application-oauth.properties
application-real-db.properties
freelec-springboot2-webservice-user_credentials.csv
